body {
	margin: 0px;
	padding: 0px;
}

#general {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#bg-uno {
	position: relative;
	width: 100%;
	height: 890px;
	background: url(../../../Imagenes/TopFlight/bg-uno1.jpg) no-repeat center top; 
	background-attachment: fixed;
}

.club {
	width: 100%;
	height: 126px;
	top: 79px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 auto;
	z-index: 1;
}

.bandera {
	float: right;
	width: 231px;
	height: 108px;
	right: 0px;
	background: #6a0e42;
	border-radius: 7px 0 0 7px;
	top: 100px;
	box-shadow: 0px 5px 7px rgba(0,0,0, 0.3);
	position: fixed;
	z-index: 999999;

}

.avion {
	float: left;
	position: relative;
	width: 91px;
	height: 48px;
	top: 30px;
	left: 23px;
}

.ingresa {
	font-family: rockwellregular;
	color: #fff;
	top: -65px;
	margin: 0;
	float: right;
	right: -77px;
	position: relative;
	font-size: 26.17px;
}

.ya {
	font-family: rockwellregular;
	color: #fff;
	top: -79px;
	margin: 0;
	float: right;
	right: -80px;
	position: relative;
	font-size: 48px;
}

#viajeros {
	width: 100%;
	height: 225px;
	top: 159px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 auto;
}

.mejor-amigo {
	font-family: 'blanchcondensed';
	color: #fff;
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	height: 32px;
	top: -4px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 auto;
}

.hora-viajar {
	font-family: 'blanchcondensed';
	color: #fff;
	width: 100%;
	font-size: 31px;
	height: 32px;
	position: relative;
	float: left;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

#tipos {
	float: left;
	position: relative;
	width: 100%;
	top: 260px;
	height: 148px;
}

.vf {
	width: 84%;
	height: 100%;
	margin:0 auto;
}

.vf img {
	margin-left:42px;
}

.flecha{
	width: 100%;
	height: 30px;
	position: relative;
	float: left;
	top: 305px;
	z-index: 55555;
	text-align: center;
	-webkit-animation: flecha 0.8s ease 0 infinite normal running;
 }
 
@-webkit-keyframes flecha {
    0% {top:301px;}
    50% {top:303px;}
    100% {top:305px;}
}


#bg-dos {
	background: #363636;
	width: 100%;
	height: 856px;
	background: url(../../../Imagenes/TopFlight/bg-dos1.jpg) no-repeat center top; 
	background-attachment: fixed;
}


#parrafo-uno {
	width: 100%;
	float: left;
	position: relative;
	height: 155px;
	top: 425px;
}

.parrafo-uno {
	font-family: rockwellregular;
	color: #fff;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	line-height: 29px;
}

#bg-tres {
	background: #363636;
	width: 100%;
	height: 890px;
	background: url(../../../Imagenes/TopFlight/bg-tres1.jpg) no-repeat center top; 
	background-attachment: fixed;
}

.pesos {
	width: 100%;
	height: 340px;
	top: 70px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 auto;
}


.los-mejores h1 {
	font-family: 'imprint_mt_shadowregular';
	color: #fff;
	width: 100%;
	line-height: 37px;
	height: 70px;
	font-size: 32px;
	float: left;
	top: 71px;
	text-align: center;
	position: relative;
	margin: 0px;
}

#parrafo-dos {
	width: 100%;
	float: left;
	position: relative;
	height: 145px;
	top: 200px;
}

.parrafo-dos {
	font-family: rockwellregular;
	color: #fff;
	width: 65%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	line-height: 29px;
}


#bg-cuatro {
	background: #363636;
	width: 100%;
	height: 890px;
	background: url(../../../Imagenes/TopFlight/bg-cuatro1.jpg) no-repeat center top; 
	background-attachment: fixed;
}

.plan-encu h1 {
	font-family: 'imprint_mt_shadowregular';
	color: #fff;
	width: 100%;
	line-height: 37px;
	height: 70px;
	font-size: 32px;
	float: left;
	top: 75px;
	text-align: center;
	position: relative;
	margin: 0px;
}

#bg-cinco {
	background: #363636;
	width: 100%;
	height: 890px;
	background: url(../../../Imagenes/TopFlight/bg-cinco1.jpg) no-repeat center top; 
	background-attachment: fixed;
}

.plan-sorpre h1 {
	font-family: 'imprint_mt_shadowregular';
	color: #fff;
	width: 100%;
	line-height: 37px;
	height: 70px;
	font-size: 32px;
	float: left;
	top: 75px;
	text-align: center;
	position: relative;
	margin: 0px;
}

#bg-seis {
	background: #363636;
	width: 100%;
	height: 890px;
	background: url(../../../Imagenes/TopFlight/bg-seis1.jpg) no-repeat center top; 
	background-attachment: fixed;
}

.plan-elegi h1 {
	font-family: 'imprint_mt_shadowregular';
	color: #fff;
	width: 100%;
	line-height: 37px;
	height: 70px;
	font-size: 32px;
	float: left;
	top: 75px;
	text-align: center;
	position: relative;
	margin: 0px;
}

#parrafo-cinco {
	width: 100%;
	float: left;
	position: relative;
	height: 193px;
	top: 122px;
}

.parrafo-cinco {
	font-family: rockwellregular;
	color: #fff;
	width: 78%;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
}

#bg-siete {
	background: #fff;
	width: 100%;
	height: 839px;
}

.telescopio {
	width: 100%;
	height: 380px;
	top: 100px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 auto;
}

#parrafo-seis {
	width: 100%;
	float: left;
	position: relative;
	height: 136px;
	top: 134px;
}

.parrafo-seis {
	font-family: rockwellregular;
	color: #000;
	width: 59%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	line-height: 29px;
}

#boton {
	width: 100%;
	height: 88px;
	float: left;
	position: relative;
	top: 163px;
	text-align: center;
}

.button {
	font-family: 'imprint_mt_shadowregular';
	background-color: #000;
	color: #fff;
	font-size: 30px;
	position: relative;
	text-decoration: none;
	border: 0;
	transition: background 0.6s;
	padding: 25px 133px;
}

.button:hover {
	background: #6a0e42;
	color: #fff;
}