<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="XmlHotelesNalesADS" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="XmlSabreADS" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="XmlHotelbedsADS" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="XmlTotalTripADS" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="XmlPOLADS" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="ClickTale.IntegrationModuleSettings" type="System.Configuration.SingleTagSectionHandler" />
    <sectionGroup name="system.web">
    </sectionGroup>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <ClickTale.IntegrationModuleSettings ScriptsFile="XML\ClickTaleScripts.xml" DoNotProcessCookieName="WRUID" DoNotProcessCookieValue="0" MaxCachedPages="100" AllowedAddresses="75.125.82.64/26 50.97.162.64/26 82.166.185.189/32" type="ClickTale.IntegrationModule.ClickTaleIntegrationModule, ClickTaleIntegrationModule" AllowDebug="true" LogFileNameMask="~\ClickTaleLog{0}.txt" DebugCode="true" />
  <!-- note, this stands for 75.125.82.64 - 75.125.82.127 and 50.97.162.64 - 50.97.162.127 -->
  <appSettings>
    <add key="strConexion1" value="Server=162.248.52.168; DataBase=BDNactur; User ID=DataBase2014; password=Ssoft$Database$2014;" />
    <add key="strConexion" value="Server=162.248.52.168; DataBase=BDTurinco; User ID=DataBase2014; password=Ssoft$Database$2014;" />
    <add key="Facilidades" value="FAC"/>
    <add key="idContacto" value="0"/>
    <add key="Ciudades" value="Ciudad"/>
    <add key="Estados" value="Deptos"/>
    <add key="Paises" value="Pais"/>
    <add key="FormasPago" value="FP"/>
    <add key="Opcionales" value="OPC"/>
    <add key="Plantillas" value="PLTLL"/>
    <add key="Servicios" value="Serv"/>
    <add key="Proveedores" value="PRV"/>
    <add key="Condiciones" value="Condiciones"/>
    <add key="TipoProp" value="Tipo_Alojamiento"/>
    <add key="TarjetasAsistencia" value="Tarjeta_Asis"/>
    <add key="ZonasGeo" value="ZNGEO"/>
    <add key="Moneda" value="Moneda"/>
    <add key="Estado" value="EST"/>
    <add key="NumDestinosCarruselHome" value="2"/>
    <add key="EstadoActivo" value="ACT"/>
    <add key="Clasificacion" value="CLASIF"/>
    <add key="PlanesTarjeta" value="PLNTRJ"/>
    <add key="TiposTarjeta" value="TIPTRJ"/>
    <add key="TiposTransTerrestre" value="TIPTRANS"/>
    <add key="SubtiposTransTerrestre" value="SUBTIPTRANS"/>
    <add key="CapNinos" value="NS"/>
    <add key="CapAdultos" value="AD"/>
    <add key="Galerias" value="GAL"/>
    <add key="Itinerario" value="IT"/>
    <add key="Temporadas" value="Temporada"/>
    <add key="TiposHabitacion" value="TPHAB"/>
    <add key="SubTiposHabitacion" value="STPHAB"/>
    <add key="CategoriasHot" value="CTG"/>
    <add key="TiposAlimentacion" value="TPALIM"/>
    <add key="TiposPasajero" value="Tip_Pasajero"/>
    <add key="TiposAcomodacion" value="Acomodacion"/>
    <add key="TiposPasaporte" value="TPPAS"/>
    <add key="TipoOperador" value="TPOP"/>
    <add key="TipoOperHotel" value="TPOPHOT"/>
    <add key="TipoNit" value="TPNIT"/>
    <add key="CadenasHoteleras" value="CADHOT"/>
    <add key="Cargos" value="CARGOS"/>
    <add key="OpcionPasaporte" value="OPCPAS"/>
    <add key="SubTipoProp" value="STPPROP"/>
    <add key="TiposMensajes" value="TPOMSJ"/>
    <add key="FormsMensajes" value="FRMMSJ"/>
    <add key="TemasMensajes" value="TMMSJ"/>
    <add key="EstadosMensajes" value="ESTMSJ"/>
    <add key="TipoDestino" value="TPDEST"/>
    <add key="TipologiaProducto" value="TPPROD"/>
    <add key="WebService" value="WS"/>
    <add key="CategoriasCarro" value="CTGCAR"/>
    <add key="TipoCamping" value="TPOCPNG"/>
    <add key="TipoAuto" value="TPOCAR"/>
    <add key="PeriodosAlquiler" value="PERALQ"/>
    <add key="ServicioCarpa" value="SRVCARPA"/>
    <add key="TiposPlan" value="TipoPlan"/>
    <add key="TiposConductor" value="TPOCOND"/>
    <add key="LugaresCarros" value="LGCAR"/>
    <add key="Aplicacion" value="Aplicacion"/>
    <add key="ProductoRelacionPlanes" value="Planes"/>
    <add key="ProductoRelacionOperadores" value="Operador"/>
    <add key="ProductoRelacionCasos" value="tblCasos"/>
    <add key="ProductoRelacionContactos" value="tblContactos"/>
    <add key="ProductoRelacionResMaster" value="tblResMaster"/>
    <add key="ProductoRelacionGeneral" value="General"/>
    <add key="TIPOCONVENIO" value="TPO_CONVENIO"/>
    <add key="TipoExcepcion" value="txt"/>
    <add key="EstadoSolicitadaRefere" value="SS"/>
    <add key="AIRLINESABRE" value="AIRLINESABRE"/>
    <add key="SABRETAX" value="SABRETAX"/>
    <add key="AEROPUERTOS" value="AEROPUERTOS"/>
    <add key="TAI" value="TAI"/>
    <add key="TAN" value="TAN"/>
    <add key="Producto" value="ProductoID"/>
    <add key="EstadoReserva" value="EstadoReserva"/>
    <add key="TPO_TARJETAS" value="TPO_TARJETAS"/>
    <add key="Secciones" value="AERLN"/>
    <add key="ProductoSeccioneInf" value="tblSeccionInf"/>
    <add key="linkSeccionesInf" value="LSINF"/>
    <add key="TipoDeLinks" value="TIPO_LINKS"/>
    <add key="Imagenes" value="Images"/>
    <add key="Galeria" value="GAL"/>
    <add key="EstadoMsjRecibido" value="ESTMSJ2"/>
    <add key="FormatoFecha" value="MM/dd/yyyy"/>
    <add key="FormatoFechaBD" value="yyyy/MM/dd"/>
    <add key="ClasificaPlan" value="Plan"/>
    <add key="ClasificaCionOferta" value="OFR"/>
    <add key="SECPUB4" value="SP_BLOG_TERMINOS"/>
    <add key="SECPUB1" value="SP_MEDIOS_PAGO"/>
    <add key="SECPUB2" value="SP_BANNERS"/>
    <add key="SECPUB3" value="SP_CONDICIONES"/>
    <add key="TIPOBANNER" value="TIPO_BANNER"/>
    <add key="BANNERHORIZONTAL" value="TPO_BANN_HORIZ"/>
    <add key="BANNERVERTICAL" value="TPO_BANN_VERT"/>
    <add key="SeccionesInformativasPub" value="SEC_PUB_INF"/>
    <add key="SeccionQuienes" value="SP_QUIENES_SOMOS"/>
    <add key="SeccionHome" value="HOME_SECPUBLIC"/>
    <add key="SeccionDestinos" value="SP_FORMAS_DE_PAGO"/>
    <add key="SeccionPlanes" value="s001"/>
    <add key="SeccionTextos" value="TEXTOS_SECPUB"/>
    <add key="AplicacionWeb" value="TuTiquete"/>
    <add key="TablaSeccionesInf" value="tblSeccionInf"/>
    <add key="LinksSeccionesInf" value="LSINF"/>
    <add key="TiposDeLinks" value="TIPO_LINKS"/>
    <add key="TiposSecciones" value="TIPO_SECCIONINF"/>
    <add key="TipoFormulario" value="SEC_TIPOFORM"/>
    <add key="TipoPlantilla" value="SEC_TIPOPLANTILLA"/>
    <add key="DirImagenPlanes" value="http://69.89.239.2/administrador/imagenes/Planes/"/>
    <add key="DirImagenesFijas" value="../App_Themes/Imagenes/"/>
    <add key="ImagenInicialDestinos" value="donde.jpg"/>
    <add key="ImagenInicialTipologias" value="quiere.jpg"/>
    <add key="Familia" value="FAM"/>
    <add key="TipoPlanCasas" value="CASA"/>
    <add key="TipoPlanCircuito" value="CIRC"/>
    <add key="TipoPlanParques" value="PQ"/>
    <add key="TipoPlanTraslados" value="TRAS"/>
    <add key="TipoPlanTarjetas" value="TJAS"/>
    <add key="TipoPlanHotel" value="HOTEL"/>
    <add key="TipoPlanCentral" value="CNTRL"/>
    <add key="TipoPlanPaquete" value="PQT"/>
    <add key="TipoPlanExcursion" value="EXC"/>
    <add key="TipoPlanCarro" value="CARRO"/>
    <add key="TipoPlanCamping" value="CPNG"/>
    <add key="TipoPlanSouvenir" value="SOUV"/>
    <add key="TipoPlanAsistenciaAeropuerto" value="ASAE"/>
    <add key="TipoPlanAnticipo" value="ANVT"/>
    <add key="TipoPlanOtro" value="OTRO"/>
    <add key="TipoProveedorA" value="TIPO_A"/>
    <add key="TipoProveedorB" value="TIPO_B"/>
    <add key="TipoProveedorC" value="TIPO_C"/>
    <add key="TarjetaEstudiantesLargaEstadia" value="TELE"/>
    <add key="TAdulto" value="ADT"/>
    <add key="TNino" value="CNN"/>
    <add key="TJunior" value="Jnr"/>
    <add key="EstadoAnticipo" value="EstadoAnticipo"/>
    <add key="EstadoAnticipoSolicitada" value="SL"/>
    <add key="EstadoAnticipoAutorizadas" value="AT"/>
    <add key="EstadoAnticipoCancelada" value="CL"/>
    <add key="EstadoAnticipoCerradas" value="CR"/>
    <add key="EstadoAnticipoRechazadas" value="RZ"/>
    <add key="EstadoAnticipoReportada" value="RP"/>
    <add key="EstadoAnticipoLegalizada" value="LQ"/>
    <add key="EstadoAnticipoGirada" value="GD"/>
    <add key="EstadoProyecto" value="EstadoProyecto"/>
    <add key="EstadoProyectoSolicitada" value="SL"/>
    <add key="EstadoProyectoAutorizadas" value="AT"/>
    <add key="EstadoProyectoCancelada" value="CL"/>
    <add key="EstadoProyectoCerradas" value="CR"/>
    <add key="EstadoProyectoRechazadas" value="RZ"/>
    <add key="EstadoReservaSolicitada" value="SS"/>
    <add key="EstadoReservaConfirmada" value="HK"/>
    <add key="EstadoReservaCancelada" value="HX"/>
    <add key="EstadoReservaPagada" value="HP"/>
    <add key="EstadoReservaCerrada" value="HC"/>
    <add key="EstadoPago" value="EstadoPago"/>
    <add key="EstadoPagoPendiente" value="PP"/>
    <add key="EstadoPagoPagado" value="PG"/>
    <add key="EstadoPagoTramite" value="TP"/>
    <add key="Dolares" value="USD"/>
    <add key="TarjetaDebito" value="TD"/>
    <add key="TarjetaCredito" value="TC"/>
    <add key="Efectivobn" value="EFE"/>
    <add key="EstadoAnticipoInicial" value="SL"/>
    <add key="EstadoProyectoInicial" value="SS"/>
    <add key="EstadoReservaInicialHotel" value="SS"/>
    <add key="EstadoReservaInicialAereo" value="HK"/>
    <add key="EstadoReservaInicialCarro" value="HK"/>
    <add key="EstadoReservaInicialPlan" value="SS"/>
    <add key="EstadoPagoInicial" value="PG"/>
    <add key="EstadoFormaPagoInicial" value="EFE"/>
    <add key="TarjetaCreditoSD" value="TCP"/>
    <add key="FormaPagoNA" value="NAP"/>
    <add key="Logo" value=""/>
    <add key="NOfertasPaquetes" value="6"/>
    <add key="NOfertasBanners" value="3"/>
    <add key="culture" value="es"/>
    <add key="strIdioma" value="es"/>
    <add key="TipoRefereIdioma" value="Idiomas"/>
    <add key="CiudadesCotelco" value="CiudadesCotelco"/>
    <add key="Correo" value="Correo"/>
    <add key="idGeneral" value="1"/>
    <add key="idNuevoUsuario" value="2"/>
    <add key="idReservaSabre" value="3"/>
    <add key="idAmigo" value="4"/>
    <add key="idRecordar" value="5"/>
    <add key="idBuzon" value="6"/>
    <add key="idReservaPlanes" value="7"/>
    <add key="imageDir" value="http://66.165.144.44/SsoftContent/Imagenes/Planes/"/>
    <add key="imageDirHTTP" value="http://69.89.239.2/administrador/imagenes/Planes/"/>
    <add key="RUTA_IMAGENES_AIR" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/Airline/"/>
    <add key="RUTA_IMAGENES_AIRW" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/Airline/"/>
    <add key="RUTA_IMAGENES_CAR" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/Autos/"/>
    <add key="RUTA_IMAGENES_CARW" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/Autos/"/>
    <add key="RUTA_IMAGENES_GENW" value="http://69.89.239.2/administrador/imagenes/Planes/"/>
    <add key="imageHotel" value="http://www.reservashoteleras.com.co/"/>
    <add key="UrlPage" value="C:\SsoftPages\PlanViajar\"/>
    <add key="ImagenGen" value="../App_Themes/Imagenes/"/>
    <add key="ImagenBanner" value="../App_Themes/Imagenes/geomatrix.png"/>
    <add key="pathXMLCache" value="C:\SsoftPages\PlanViajar\Pagina\XML\Cache\"/>
    <add key="RutaLog" value="C:\SsoftPages\PlanViajar\Pagina\Documentos\Ssoft.txt"/>
    <add key="RutaEsquema" value="../Documentos/Esquemas/Sabre/OTA_AirLowFareSearchLLS11.xsd"/>
    <add key="RutaEmail" value="C:\SsoftPages\PlanViajar\Pagina\XML\"/>
    <add key="RutaXMLError" value="../XML/XML_SabreErrors.xml"/>
    <add key="RutaDocumentos" value="C:\SsoftPages\PlanViajar\Pagina\Documentos\"/>
    <add key="RutaDocumentosRelativo" value="Documentos\"/>
    <add key="Usuario_POL" value="12360"/>
    <add key="URL_POL" value="http://66.165.144.35/POL/PagoOnline.aspx?"/>
    <add key="POL_Prueba" value="1"/>
    <add key="POL_Extra2" value="http://66.165.144.42/TutiqueteV4/Pagina/Presentacion/Index.aspx"/>
    <add key="TipoDocUsuarioPago" value="1"/>
    <add key="POL_CiudadEnvio" value=""/>
    <add key="POL_DirEnvio" value=""/>
    <add key="Sabre_ta" value="2200"/>
    <add key="Sabre_VirtuallyThere" value="False"/>
    <add key="IncluyeYQ" value="False"/>
    <add key="strEmailEnvio" value="info@ssoftcolombia.com"/>
    <add key="strEmailCC" value="fposas@ssoftcolombia.com"/>
    <add key="strEmailCCO" value="fposas@ssoftcolombia.com"/>
    <add key="ActivaCorreo" value="false"/>
    <add key="TopoServicioTraslado" value="TrasAe"/>
    <add key="MonedaPesoColombiano" value="COP"/>
    <add key="MonedaDolar" value="USD"/>
    <add key="MonedaEuro" value="EUR"/>
    <add key="CaracterDecimal" value=","/>
    <add key="NDestinos" value="3"/>
    <add key="NGaleriasHome" value="4"/>
    <add key="RefereImagenGrande" value="IMGGRANDE"/>
    <add key="TipoPasajeroNino" value="CNN"/>
    <add key="Sexo" value="SX"/>
    <add key="PlantillasCircuitos" value="PLANTILLA_CIRC"/>
    <add key="PlantillaNormal" value="PLNORM"/>
    <add key="PlantillaNoCupo" value="NOCUPO"/>
    <add key="PlantillaCupo" value="SICUPO"/>
    <add key="PagosVisa" value="tutiquetevisa"/>
    <add key="PagosAmex" value="tutiqueteamex"/>
    <add key="PagosDiners" value="tutiquetediners"/>
    <add key="PagosPse" value="tutiquetepse"/>
    <add key="ValidaPagos" value="False"/>
    <add key="Aereo_WS" value="AIR"/>
    <add key="TASA_ADMINISTRATIVA" value="TA"/>
    <add key="IVA_TA" value="ITA"/>
    <add key="Nal" value="NAL"/>
    <add key="Internal" value="INT"/>
    <add key="FEE" value="FEE"/>
    <add key="FEE_IMPUESTO" value="IFEE"/>
    <add key="FEE_Adicional" value="ADFE"/>
    <add key="IVA_FEE_Adicional" value="IADFE"/>
    <add key="TIPOPLANCARWS" value="CAR"/>
    <add key="CarCategoriaSabre" value="CarCategoriaSabre"/>
    <add key="RentadorasSabre" value="RentadorasSabre"/>
    <add key="MaxTiposCar" value="10"/>
    <add key="CurrencyCar" value="USD"/>
    <add key="LanguajeCar" value="es-us"/>
    <add key="TiposCategoriaBlog" value="TIPO_CATBLOG"/>
    <add key="HOT_WS" value="HOT"/>
    <add key="PermisoAdministrador" value="Agencia"/>
    <add key="CodigoPermisoAdministrador" value="1"/>
    <add key="CodigoPermisoUsuarios" value="3"/>
    <add key="TipoContacto" value="Tipo_Contacto"/>
    <add key="MotivoViaje" value="MotivoViaje"/>
    <add key="MotivoNoViaje" value="MotivoNoViaje"/>
    <add key="CentroCostos" value="CentroCostos"/>
    <add key="GastosViaje" value="GastosViaje"/>
    <add key="AreasEmpresa" value="AreasEmpresa"/>
    <add key="ActivEmp" value="ActivEmp"/>
    <add key="NivelViaticos" value="NivelViaticos"/>
    <add key="Viaticos" value="Viaticos"/>
    <add key="TarifaMayor" value="TarifaMayor"/>
    <add key="OfertaMax" value="5"/>
    <add key="MotivoNoTM" value="MotivoNoTM"/>
    <add key="TipoRemark" value="TipoRemark"/>
    <add key="TipoPermiso" value="TipoPermiso"/>
    <add key="Inicio" value="Inicio"/>
    <add key="CountCC" value="5"/>
    <add key="TipoDocumento" value="TD"/>
    <add key="DestinoNoDefinido" value="ND"/>
    <add key="Trato" value="Trato"/>
    <add key="TiempoMinimoSolicitud" value="TMSV"/>
    <add key="TiempoMinimoReserva" value="TMPR"/>
    <add key="ColasSabre" value="ColasSabre"/>
    <add key="Fees" value="Fees"/>
    <add key="ConfUsuariosCorp" value="ConfUsuariosCorp"/>
    <add key="ConfUsuariosSabre" value="ConfUsuariosSabre"/>
    <add key="ConfUsuariosCheck" value="ConfUsuariosCheck"/>
    <add key="SeguridadSabreAgencia" value="SeguridadSabreAgencia"/>
    <add key="SeguridadSabreEmpresa" value="SeguridadSabreEmpresa"/>
    <add key="SeguridadSabreComunidad" value="SeguridadSabreComunidad"/>
    <add key="Usuario" value="U"/>
    <add key="Password" value="P"/>
    <add key="PCC" value="IP"/>
    <add key="QE" value="QE"/>
    <add key="PP" value="PP"/>
    <add key="TipoAnticipo" value="TipoAnticipo"/>
    <add key="Manuntencion" value="VMN"/>
    <add key="Impuestos" value="VDG"/>
    <add key="Hoteles" value="VRH"/>
    <add key="Terrestre" value="VVT"/>
    <add key="Propietario" value="PT"/>
    <add key="Agencia" value="AG"/>
    <add key="Empresa" value="EM"/>
    <add key="Administrador" value="AD"/>
    <add key="Agente" value="AA"/>
    <add key="Coordinador" value="CE"/>
    <add key="Autorizador" value="AV"/>
    <add key="Viajero" value="VJ"/>
    <add key="Contabilidad" value="UC"/>
    <add key="Proveedor" value="PS"/>
    <add key="UsuarioFinal" value="AG"/>
    <add key="Comunidad" value="CM"/>
    <add key="TipoSeg" value="TPO_SEGUIMIENTO"/>
    <add key="TipoSegReserva" value="TPO_SEG_RESERVA"/>
    <add key="TipoSegBuzon" value="TPO_SEG_BUZON"/>
    <add key="TipoSegAnticipo" value="TPO_SEG_ANTICIPO"/>
    <add key="MotivoRechazo" value="MotivoNoViaje"/>
    <add key="TipoServicio" value="TipoServicio"/>
    <add key="Bogota" value="BOG"/>
    <add key="OfertaHotelMax" value="8"/>
    <add key="OfertaPlanesMax" value="2"/>
    <add key="OfertaMax" value="4"/>
    <add key="Medellin" value="MDE"/>
    <add key="Cali" value="CLO"/>
    <add key="ProductoRelacionProyecto" value="tblproyecto"/>
    <add key="idCorreoCarta" value="8"/>
    <add key="TiposProveedor" value="TIPO_PROVEEDOR"/>
    <add key="ProvHotelCotelco" value="TPOPROVHC"/>
    <add key="Carta" value="Carta"/>
    <add key="CartaCotelco" value="Carta_Cotelco"/>
    <add key="ViajesNales" value="VN"/>
    <add key="ViajesInterNales" value="VI"/>
    <add key="idPropietario" value="1"/>
    <add key="idAgencia" value="2"/>
    <add key="idEmpresa" value="3"/>
    <add key="idComunidad" value="0"/>
    <add key="AnalisisAhorro" value="AnalisisAhorro"/>
    <add key="TR" value="TR"/>
    <add key="TM" value="TM"/>
    <add key="TA" value="TA"/>
    <add key="VariablesRemarks" value="VariablesRemarks"/>
    <add key="SV" value="SV"/>
    <add key="MNE" value="MNE"/>
    <add key="SC" value="SC"/>
    <add key="CC1" value="CC1"/>
    <add key="CC2" value="CC2"/>
    <add key="CC3" value="CC3"/>
    <add key="CC4" value="CC4"/>
    <add key="CC5" value="CC5"/>
    <add key="CC" value="CC"/>
    <add key="DP" value="DP"/>
    <add key="AE" value="AE"/>
    <add key="PR" value="PR"/>
    <add key="Sabre" value="Sabre"/>
    <add key="Cotelco" value="Cotelco"/>
    <add key="ActivaPerfilCorp" value="False"/>
    <add key="ActivaRemarkCorp" value="False"/>
    <add key="ImagesExt" value="ImagesExt"/>
    <add key="Controls" value="Controls"/>
    <add key="Paginas" value="Paginas"/>
    <add key="HorariosAtencion" value="Horarios"/>
    <add key="TipoCliente" value="TPO_CLIENTE"/>
    <add key="Cliente" value="UF"/>
    <add key="PseudoEEUU" value="EM"/>
    <add key="Menu" value="MenuPagina"/>
    <add key="TipoMenu" value="TipoMenu"/>
    <add key="SeccionNoticias" value="SP_NOTICIAS"/>
    <add key="TipoCategoriaInicial" value="TipoCategoriaInicial"/>
    <add key="RUTA_IMAGENES_GEN" value="../App_Themes/Imagenes/"/>
    <add key="RUTA_IMAGENES_PLANES" value="../App_Themes/Imagenes/"/>
    <add key="RUTA_IMAGENES_PLANESW" value="http://162.248.52.27/Ssoftcontent/Images/"/>
    <add key="RUTA_DOCUMENTOS" value="C:\SsoftPages\PlanViajar\Pagina\Documentos\"/>
    <add key="RUTA_DOCUMENTOSW" value="http://localhost:1800/Travel/Documentos/"/>
    <add key="PaisDefault" value="ECU"/>
    <add key="AdultoHB" value="AD"/>
    <add key="NiñoHB" value="CH"/>
    <add key="InfanteHB" value="CH"/>
    <add key="TipoPasajero" value="Tip_Pasajero"/>
    <add key="TipoBusquedaHotel" value="1"/>
    <add key="Incremento" value="1,0"/>
    <add key="DiasPenalizacion" value="5"/>
    <add key="TipoHotelesHotelBeds" value="HOTBED"/>
    <add key="BDHotelbeds" value="BDHotelsBeds"/>
    <add key="TipoPlanCruceros" value="CRUCE"/>
    <add key="remark" value="DatHot"/>
    <add key="Buscador" value="Index.aspx"/>
    <add key="EtapaProyecto" value="EtapaProyecto"/>
    <add key="SECPUB8" value="SECPUB8"/>
    <add key="SeccionPreguntas" value="SP_PF_PAGINA"/>
    <add key="SeccionCorporativo" value="SeccionCorporativo"/>
    <add key="SeccionClausula" value="SP_CLAUSULA_RESPONSABILIDAD"/>
    <add key="SeccionDocumentacion" value="SP_DOCUMENTACION"/>
    <add key="TarjetaCreditoCD" value="TC"/>
    <add key="SECPUB5" value="SP_INF_CARROCOMPRAS"/>
    <add key="Poliza" value="Poliza"/>
    <add key="RUTA_HOTELES_COTELCO" value="http://www.reservashoteleras.com.co/"/>
    <add key="NivelDocumentacion" value="1"/>
    <add key="CategoriaPlan" value="CAT_PLAN"/>
    <add key="TextoCondicionesPlan" value="CONDICIONES_PLAN"/>
    <add key="TextoTengaCuentaPlan" value="TextoTengaCuentaPlan"/>
    <add key="TipoIndex" value="TipoIndex"/>
    <add key="Cotizacion_Grupo" value="COTGR"/>
    <add key="Revisión_Tiquete" value="Revisión_Tiquete"/>
    <add key="Reembolso_Tiquete" value="Reembolso_Tiquete"/>
    <add key="Inactivar_Usuario" value="Inactivar_Usuario"/>
    <add key="ProductoRelacionBanners" value="tblBanner"/>
    <add key="SECPUB13" value="SP_CONTACTENOS"/>
    <add key="TipoPlan" value="TipoPlan"/>
    <add key="sPaginaIdioma" value="False"/>
    <add key="UNegocio" value="0"/>
    <add key="sVueloXhoras" value="True"/>
    <add key="idUNegocio" value="0"/>
    <add key="MetaTag" value="MetaTag"/>
    <add key="HttpEquiv" value="HttpEquiv"/>
    <add key="Cotizacion_Servicios" value="Cotizacion_Servicios"/>
    <add key="TextosPlan" value="TextosPlan"/>
    <add key="ControlCuposCon" value="ConControl"/>
    <add key="TipoRefControlCupos" value="ControlCupos"/>
    <add key="ControlCuposNormal" value="Normal"/>
    <add key="TipoPasajeroAdulto" value="ADT"/>
    <add key="TipoPasajeroJunior" value="Jnr"/>
    <add key="TipoPasajeroAdt3" value="ADT3"/>
    <add key="TipoPasajeroAdt4" value="ADT4"/>
    <add key="sMensajeSesionSabre" value="En este momento hay mas de 2000 personas consultado nuestras Promociones!!!"/>
    <add key="sSugerenciaSesionSabre" value="Por favor intente de nuevo en 5 minutos!!!"/>
    <add key="PagosMaster" value="emp_69005_master"/>
    <add key="Num_Noticias" value="6"/>
    <add key="NNoticiasHome" value="4"/>
    <add key="CotizaInfante" value="true"/>
    <add key="NinoHB" value="CH"/>
    <add key="dValidaAirPort" value="False"/>
    <add key="Revision_Tiquete" value="Revisión_Tiquete"/>
    <add key="MiCuenta" value="MiCuenta.aspx"/>
    <add key="RedirecIndex" value="index.aspx"/>
    <add key="TablaArticulo" value="tblArticulo"/>
    <add key="ValidaPax" value="False"/>
    <add key="HOT" value="HOT"/>
    <add key="PlantillaNinos" value="PL_CRUCE_2"/>
    <add key="TipoPasajeroNino2" value="CNN2"/>
    <add key="idReservaHotelHb" value="8"/>
    <add key="LogCorreo" value="False"/>
    <add key="NumPlanesPagina" value="4"/>
    <add key="TipoPasajeroInfante" value="INF"/>
    <add key="NumPlanesPaginaOfertas" value="6"/>
    <add key="SeccionAerolineas" value="SP_AEROLINEAS"/>
    <add key="SeccionHoteles" value="SP_HOTELES"/>
    <add key="SeccionRecomendaciones" value="SP_RECOMENDACIONES"/>
    <add key="ProductoRelacionSeccionesInf" value="tblSeccionInf"/>
    <add key="NumCheckInPagina" value="2"/>
    <add key="NumeroNoticiasPagina" value="4"/>
    <add key="width" value="width"/>
    <add key="height" value="height"/>
    <add key="SeccionBoletin" value="SP_BOLETIN"/>
    <add key="NumBoletinesPagina" value="6"/>
    <add key="SeccionTexcoContacto" value="SP_CONTACTENOS"/>
    <add key="COT" value="COT"/>
    <add key="TemaMensajeCotizacion" value="COT"/>
    <add key="TemaMensajeServiciosCorp" value="SOLPSC"/>
    <add key="SeccionGrupos" value="SP_GRUPOS"/>
    <add key="ValidaLogTransac" value="False"/>
    <add key="BloqueoAir" value="15"/>
    <add key="FEENAL" value="FEENAL"/>
    <add key="IVA_FEENAL" value="IFEENAL"/>
    <add key="PlantillaCruceroTodos" value="PL_CRUCE_3"/>
    <add key="TipoImpuestosPlan" value="TipoImpuestosPlan"/>
    <add key="TipoImpuestoPlanNoche" value="TPO_IMP_NOCHE"/>
    <add key="TipoImpuestoPlanTarifa" value="TPO_IMP_TARIFA"/>
    <add key="SECPUB12" value="SP_CONDICIONES_REGISTRO"/>
    <add key="NDestinosHome" value="6"/>
    <add key="SeccionSalidas" value="SP_SALIDAS"/>
    <add key="ControlCuposSin" value="SinControl"/>
    <add key="TiposDeIdentificacion" value="TD"/>
    <add key="NumPlanesPaginaOfertasDestinos" value="8"/>
    <add key="SeccionCruceros" value="SP_CRUCEROS"/>
    <add key="NumPlanesPaginaCruceros" value="3"/>
    <add key="SeccionCabezote" value="SP_ENCABEZADO"/>
    <add key="SeccionTurismo" value="SP_TURISMO_ESP"/>
    <add key="pathXML" value="C:\SsoftPages\test\PlanViajar\Pagina\XML\"/>
    <add key="pathXMLW" value="http://www.tutiquete.com/Pagina/XML/"/>
    <add key="FormatoFechaSabre" value="yyyy-MM-dd"/>
    <add key="TipoLinkNueva" value="Nueva"/>
    <add key="TipoLink" value="TipoLink"/>
    <add key="PlantillaCotizacionDias" value="PLTRASDIA"/>
    <add key="PlantillaCotizacionHoras" value="PLTRASHR"/>
    <add key="GeneraXMLReserva" value="False"/>
    <add key="PlantillaMultiHotel" value="PLMULTIHT"/>
    <add key="SeccionPublicacionDestinos" value="SP_DESTINOS"/>
    <add key="IniciaIndexHtml" value="False"/>
    <add key="userControls" value="userControls"/>
    <add key="SeccionPublicacionTexcoContacto" value="SP_CONTACTENOS"/>
    <add key="SeccionPublicacionCarroCompras" value="SP_INF_CARROCOMPRAS"/>
    <add key="SeccionPublicacionEncabezado" value="SP_ENCABEZADO"/>
    <add key="Documentos" value="Documentos"/>
    <add key="Tarifario" value="Tarifario"/>
    <add key="PlantillaEdades" value="PLEDADES"/>
    <add key="TipoReporte" value="Html"/>
    <add key="TipoSalidaReporte" value="Page"/>
    <add key="SeccionPublicacionCondicionesRegistro" value="SP_CONDICIONES_REGISTRO"/>
    <add key="SeccionLogin" value="LOGIN"/>
    <add key="SeccionCondicionesRegistro" value="CONDICIONES_REGISTRO"/>
    <add key="SeccionPublicacionQuienes" value="SP_QUIENES_SOMOS"/>
    <add key="BorradoTempDias" value="7"/>
    <add key="RedirecLogin" value="Login.aspx"/>
    <add key="SeccionPublicacionCondiciones" value="SP_CONDICIONES"/>
    <add key="TipoItinerario" value="TPITW"/>
    <add key="TipoItinerarioIda" value="TPITWID"/>
    <add key="ConfPortal" value="ConfPortal"/>
    <add key="Encabezado" value="Encabezado"/>
    <add key="ErrorWebServices" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/busqueda.png"/>
    <add key="TT_Pax" value="False"/>
    <add key="TT_Convenio" value="False"/>
    <add key="PreferencesAir" value="99"/>
    <add key="JuniorHB" value="JNR"/>
    <add key="BloquePaxFecha" value="False"/>
    <add key="ValidaPaxFechaInf" value="True"/>
    <add key="ValidaPaxFechaGen" value="False"/>
    <add key="WS_HOTEL_HB" value="WS_HB"/>
    <add key="MetaPagina" value="False"/>
    <add key="GeneraIndexTmp" value="False"/>
    <add key="RUTA_PATH_PAGE" value="C:\SsoftPages\PlanViajar\Pagina\Presentacion\"/>
    <add key="SeccionPublicacionGrupos" value="SP_GRUPOS"/>
    <add key="RedirecIndexHtml" value="index.htm"/>
    <add key="ErrorLibreria" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/advertencia.png"/>
    <add key="HabilitaXmlTT" value="False"/>
    <add key="WS_HOTEL_TT" value="WS_TT"/>
    <add key="IncrementoHotelTT" value="5"/>
    <add key="SinAlimentacion" value="SH"/>
    <add key="ResulHotelPagina" value="20"/>
    <add key="ErrorAplicacion" value="http://www.tutiquete.com/Pagina/App_Themes/Imagenes/advertencia.png"/>
    <add key="SeccionPublicacionDocumentacion" value="SP_DOCUMENTACION"/>
    <add key="IdiomaEspaniol" value="es"/>
    <add key="Ciudad" value="Ciudad"/>
    <add key="SeccionPublicacionCertificaciones" value="SP_CERTIFICACIONES"/>
    <add key="SeccionPublicacionContra" value="SP_CONTRA"/>
    <add key="ValidaNivelHotel" value="False"/>
    <add key="SeccionPublicacionAyuda" value="SP_AYUDA"/>
    <add key="NBannersInfHome" value="3"/>
    <add key="SeccionPublicacionRecomendaciones" value="SP_RECOMENDACIONES"/>
    <add key="SeccionPublicacionMapa" value="SP_MAPA"/>
    <add key="TORuta" value="TPOFWTP"/>
    <add key="TPRuta" value="PLOFWLT"/>
    <add key="OfertaAereaMax" value="4"/>
    <add key="ProductoRelacion" value="ProductoID"/>
    <add key="MonedaLocal" value="COP"/>
    <add key="NivelDestino" value="0"/>
    <add key="TextoCatRotativoaMulti" value="Opcion hoteles"/>
    <add key="FormaPagoCancelacion" value="CAN"/>
    <add key="idCancelacionPlanes" value="9"/>
    <add key="ValidaMonedaVuelos" value="False"/>
    <add key="iMaxPaxAir" value="8"/>
    <add key="IndexMultiple" value="False"/>
    <add key="SEC_TIPOARCHIVOHTML" value="SEC_TIPOARCHIVOHTML"/>
    <add key="ErrorOlvido" value="Por favor ingrese una cuenta de correo"/>
    <add key="IFEENAL" value="IFEENAL"/>
    <add key="CodeSabreYS" value="YS"/>
    <add key="CodeSabreCO" value="CO"/>
    <add key="CodeSabreDG" value="DG"/>
    <add key="CodeSabreYQ" value="YQ"/>
    <add key="ErrorCancel" value="http://69.89.239.1/pagina/App_Themes/Imagenes/cancel.png"/>
    <add key="FEEINTERNAL" value="FEEINAL"/>
    <add key="IVA_FEEINTERNAL" value="IFEEINAL"/>
    <add key="Agencia_Nombre" value="PlanViajar-ColombianTourist"/>
    <add key="bTame" value="False"/>
    <add key="IndicadorValorPorcentaje" value="1"/>
    <add key="TEXTO_TA" value="Tarifa Administrativa"/>
    <add key="TEXTO_IVA_TA" value="IVA Tarifa Administrativa"/>
    <add key="TEXTO_FEENAL" value="APT"/>
    <add key="TEXTO_IVA_FEENAL" value="IVA APT"/>
    <add key="TEXTO_FEEINAL" value="APT"/>
    <add key="TEXTO_IVA_FEEINAL" value="IVA APT"/>
    <add key="bValidaEncabezado" value="False"/>
    <add key="sIdioma" value="es"/>
    <add key="SeguridadCotelcoEmpresa" value="SeguridadCotelcoEmpresa"/>
    <add key="es" value="CAS"/>
    <add key="TEXTO_IVA_FEEINAL" value="IVA APT"/>
    <add key="TipoPlanPlantillaWs" value="TP_PLNWS"/>
    <add key="TipoPlanWs" value="PLNWS"/>
    <add key="PathHotelBeds" value="http://www.hotelbeds.com/giata/"/>
    <add key="CotizacionNormal" value="Normal"/>
    <add key="DiasVencimiento" value="3"/>
    <add key="bLimpiaParametros" value="false"/>
    <add key="DiasLimitePagoHotel" value="5"/>
    <add key="bValidaSaltoPax" value="False"/>
    <add key="bRedireccionLogin" value="True"/>
    <add key="RegistroFormReserva" value="False"/>
    <add key="bMostrarResultadosBFM" value="True"/>
    <add key="Efectivo" value="EFE"/>
    <!-- Filtro del Heeder -->
    <add key="bValidaMatriz" value="True"/>
    <!-- nuevas llaves -->
    <add key="iTimeOutBD" value="0"/>
    <add key ="dMarckupUsd" value="0"/>
    <add key ="Sabre_CPAId"  value="Sabre_CPAId"/>
    <add key="sFormatoView" value="#,##0"/>
    <add key ="BorradoCacheDias" value="1"/>
    <add key ="bMarcaBlanca" value="false"/>
    <add key ="Sumaimpuestos" value="false"/>
    <add key ="IVA_TAI" value="ITAI"/>
    <add key ="IVA_TAN" value="ITAN"/>
    <add key ="bValidaParadas" value="false"/>
    <add key ="bValidaConvert" value="false"/>
    <add key ="IndicadorValorPorcentajeTotal" value="3"/>
    <add key ="IndicadorValorNetoTotal" value="2"/>
    <add key ="IndicadorValorNetoTarifa" value="0"/>
    <add key ="IndicadorValorPorcentajeTarifa" value="1"/>
    <add key ="IndicadorValorPorcentajeTotal" value="3"/>
    <add key="TemaMsjCotVuelos" value="COTAIR"/>
    <add key="MonedaView" value="COP"/>
    <add key="TabBuscador" value="TabBuscador"/>
    <add key="sReferenciaGeneral" value="Generales"/>
    <add key="TabBuscador" value="TabBuscador"/>
    <add key ="BorradoDatasetDias" value="1"/>
    <add key="ValorBlancoGenero" value="False"/>
    <add key="bEscribirXMLAvailRQ" value="False"/>
    <add key="BorradoCacheMinutos" value="0"/>
    <add key="FEEINAL" value="FEEINAL"/>
    <add key="IdEmpresaTopFlight" value="4"/>
    <add key="NumDestinosCarruselLinks" value="4"/>
    <add key="ReservaTarjeta" value="true"/>
    <!-- Filtro del Heeder -->
    <add key="bValidaMatriz" value="True"/>
    <!-- nuevas llaves -->
    <add key="validavalorestaempresapadre" value="FALSE"/>
    <add key="urlpagtopflight" value="www.clubtopflight.com"/>
    <add key="PaginacionFija" value="TRUE"/>
    <add key="CantidadRHoteles" value="300"/>
    <add key="CantidadPaginas" value="10"/>
    <add key="textoRegistroGuiaderuta" value="ha sido registrada por favor envia los documentos de afiliación al correo Comercial@turinco.com y espera la llamada de nuestro ejecutivo de cuenta"/>
    <add key="TextoTimeOut" value="Lo sentimos, su sesión ha expirado, para continuar navegando debe regresar al Inicio"/>
    <add key="HotelBedsReqRes" value="TRUE"/>
    


  </appSettings>
  <system.web>

    <httpRuntime executionTimeout="9999999" maxRequestLength="9999999"  />
    <pages compilationMode="Always" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI" />
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="sysglobl, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpModules>
    </httpModules>
    <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <sessionState mode="InProc" cookieless="UseCookies" timeout="10"></sessionState>
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
  </system.web>
  <location path="ajaxpro">
    <system.web>

      <httpHandlers>
        <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
      </httpHandlers>
    </system.web>
  </location>
  <ajaxNet>
    <ajaxSettings>
      <urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
      </urlNamespaceMappings>
      <jsonConverters>
      </jsonConverters>
      <debug enabled="false" />
      <token enabled="false" sitePassword="password" />
    </ajaxSettings>
  </ajaxNet>
  <XmlSabreADS>

    <!--<add key="User" value="7971"/>
    <add key="Password" value="WS040209"/>
    <add key="Ipcc" value="L1QF"/>
    <add key="Pcc" value="L1QF "/>-->

    <!-- ************************* 
   **************************   Sabre   ************************* 
  pruebas sabre L1QF-->

    <add key="User" value="7971"/>
    <add key="Password" value="WS040209"/>
    <add key="Ipcc" value="L1QF"/>
    <add key="Pcc" value="L1QF "/>

    <add key="From" value="99999" />
    <add key="To" value="123123" />
    <add key="Dominio" value="DEFAULT" />
    <add key="QNumber" value="41" />
    <add key="Conversacion" value="Reservas - Corporativo." />
    <add key="Mensaje" value="mid:20001209-133003-2333@clientofsabre.com1" />
    <add key="UrlWebservices" value="https://webservices.sabre.com/websvc" />
    <add key="Namespace" value="http://webservices.sabre.com/sabreXML/2003/07" />
    <add key="SegmentoFuturo" value="300" />
    <add key="TimeLimit" value="8" />
    <!-- Si segmento futuro es cero, no lo toma -->
    <!-- *************************   Agencia   ************************ -->
    <add key="Year" value="DateTime.Today.Year" />
    <add key="Con" value="" />
    <add key="Agencia_Nombre" value="tu tiquete" />
    <add key="Agencia_Direccion" value="Bogota" />
    <add key="Agencia_Ciudad" value="Bogota" />
    <add key="Agencia_CodigoPostal" value="057" />
    <add key="Agencia_CodigoEstado" value="BOG" />
    <add key="Agencia_CodigoPais" value="CO" />
    <add key="Agencia_CodigoArea" value="571" />
    <add key="Agencia_Telefono" value="2439903" />
    <add key="Agencia_CodigoLocalizacion" value="A" />
    <add key="Agencia_TicketeFecha" value="2009-10-14" />
    <add key="Agencia_TicketeId" value="" />
    <add key="Agencia_TicketeManual" value="false" />
    <add key="Agencia_TicketTimeLimit" value="7-" />
  </XmlSabreADS>
  <!--<XmlHotelesNalesADS>
    <add key="UrlWebservices" value="http://www.reservashoteleras.com.co/centralws/servicios.asmx"/>
    -->
  <!--<add key="UrlWebservices" value="http://www.reservashoteleras.com.co/centralws/servicios.asmx"/>-->
  <!--
    <add key="Lenguage" value="ES"/>
    <add key="RutaRequest" value="Xml/XSD_CotelcoSearchAvailibility.xsd"/>
    -->
  <!--Para pruebas tomar el hotel de pruebas de Arauca-->
  <!--
    <add key="User" value="over123"/>
    <add key="Password" value="over123"/>
    <add key="CiudadId" value="0"/>
    <add key="HotelId" value="0"/>
    <add key="PlanId" value="0"/>
    <add key="Adicional" value="Reserva de prueba"/>
    <add key="TypePay" value="S"/>
    <add key="Encoding" value="UTF-16"/>
  </XmlHotelesNalesADS>-->
  <XmlHotelesNalesADS>
    <add key="UrlWebservices" value="http://www.reservashoteleras.com.co/centralws/servicios.asmx" />
    <add key="Lenguage" value="ES" />
    <add key="RutaRequest" value="Xml/XSD_CotelcoSearchAvailibility.xsd" />
    <!--<add key="User" value="sabre123"/>
    <add key="Password" value="sabre123"/>-->
    <!--Para pruebas tomar el hotel de pruebas de Arauca-->
    <add key="User" value="contenido" />
    <add key="Password" value="contenido123" />
    <add key="CiudadId" value="0" />
    <add key="HotelId" value="0" />
    <add key="PlanId" value="0" />
    <add key="Adicional" value="Reserva de prueba" />
    <add key="TypePay" value="S" />
    <add key="Encoding" value="UTF-16" />
  </XmlHotelesNalesADS>
  <!--<XmlTotalTripADS>
    <add key="UrlWebservices" value="http://mmh.totaltrip.com/webservice" />
    <add key="Pcc" value="89JB" />
    <add key="LoginUser" value="Tutiquete" />
    <add key="PasswordUser" value="123abc" />
    <add key="Encoding" value="UTF-16" />
  </XmlTotalTripADS>-->
  <XmlTotalTripADS>
    <add key="UrlWebservices" value="http://premmh.totaltrip.com/webservice"/>
    <add key="Pcc" value="K2AF"/>
    <add key="LoginUser" value="Ssoft"/>
    <add key="PasswordUser" value="abc123"/>
    <add key="Encoding" value="UTF-16"/>
  </XmlTotalTripADS>
 
  <XmlHotelbedsADS>
    <add key="UrlWebservices" value="http://212.170.239.71/appservices/http/FrontendService"/>
    <!--<add key="UrlWebservices" value="http://212.170.239.18/appservices/http/FrontendService"/>-->
    <!--<add key="UrlWebservices" value="http://testapi.interface-xml.com/appservices/ws/FrontendService"/>-->
    <add key="Lenguage" value="ESP"/>
    <add key="AgencyPrimary" value="888"/>
    <add key="AgencySecondary" value="88"/>
    <add key="AgencyDetail" value="888"/>
    <add key="AgencyBranch" value="1"/>
    <add key="TraceResponse" value="true"/>
    <add key="FormatoXML" value="ISO-8859-1"/>
    <add key="Online" value="true"/>
    <add key="RutaRequest" value="Hotelbeds/xml/"/>
    <add key="RutaHotelBedsXml" value="..\Hotelbeds\XML\"/>
    <add key="UsarProxy" value="true"/>
    <add key="ProxyUrl" value="http://212.170.239.71/appservices/http/FrontendService "/>
    <add key="User" value="TURINCO2CO175365"/>
    <add key="Password" value="TURINCO2CO175365"/>
    <add key="DiasCheckInOferta" value="8"/>
    <add key="DiasCheckOutOferta" value="1"/>
    <add key="AdultosOferta" value="1"/>
  </XmlHotelbedsADS>
  <XmlPOLADS>
    <!-- ***** Real ***** -->
    <!--<add key="UrlPago" value="http://66.165.133.52/PagosOnline/PagoOnline.aspx?"/>-->
    <!-- ***** Pruebas ***** -->
    <add key="UrlPago" value="http://66.165.135.93/Pacificard/InvocacionPago.aspx?" />
    <add key="Prueba" value="1" />
    <add key="Usuario" value="12384" />
    <add key="PlantillaVisa" value="tutiquetevisa" />
    <add key="PlantillaDiners" value="tutiquetediners" />
    <add key="PlantillaPSE" value="tutiquetepse" />
    <add key="PlantillaAmex" value="tutiqueteamex" />
    <add key="PlantillaMaster" value="PagosMaster" />
    <add key="Extra2" value="http://69.89.239.35/YouTravel/Pagina/Default.aspx" />
    <add key="CiudadEnvio" value="" />
    <add key="DireccionEnvio" value="" />
  </XmlPOLADS>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
