<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WS_SsoftSabre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WS_SsoftSabre.Properties.Settings>
            <setting name="WS_SsoftSabre_OTA_AirRules_OTA_AirRulesService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_SabreCommandLLS_SabreCommandLLSService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_AirLowFareSearch_OTA_AirLowFareSearchService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_SessionClose_SessionCloseRQService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_SessionCreateRQ_SessionCreateRQService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_AirPrice_OTA_AirPriceService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_SessionValidate_SessionValidateRQService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_EndTransactionRQ1_EndTransactionService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_RulesFromPriceRQ_RulesFromPriceService"
                serializeAs="String">
                <value>https://cert.webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_TravelItineraryRead_OTA_TravelItineraryService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_Cancel_OTA_CancelService" serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_AirBook_OTA_AirBookService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_OTA_AirAvail_OTA_AirAvailService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_ShortSell_ShortSellService" serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_BargainFinderPlus_BargainFinderPlusService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_DisplayPriceQuote_DisplayPriceQuoteService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_DesignatePrinterRQ_DesignatePrinterService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_AirTicketRQ_AirTicketService" serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="WS_SsoftSabre_SWS_BargainFinderMaxRQ_BargainFinderMaxService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
        </WS_SsoftSabre.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
