<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WS_SsoftTotalTrip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <WS_SsoftTotalTrip.Properties.Settings>
        <setting name="WS_SsoftTotalTrip_CancelHotel_HotelCancelService"
          serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelCancelService.asmx</value>
        </setting>
        <setting name="WS_SsoftTotalTrip_GetHotelInfos_HotelInfoService"
          serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelInfoService.asmx</value>
        </setting>
        <setting name="WS_SsoftTotalTrip_HotelReservationInfo_HotelReservationInfoService"
          serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelReservationInfoService.asmx</value>
        </setting>
        <setting name="WS_SsoftTotalTrip_HotelConfirm_HotelConfirmService"
          serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelConfirmService.asmx</value>
        </setting>
        <setting name="WS_SsoftTotalTrip_HotelRes_HotelResService" serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelResService.asmx</value>
        </setting>
        <setting name="WS_SsoftTotalTrip_HotelShop_HotelShopService"
          serializeAs="String">
          <value>http://mmh.totaltrip.com/webservice/HotelShopService.asmx</value>
        </setting>
      </WS_SsoftTotalTrip.Properties.Settings>
        <!--<WS_SsoftTotalTrip.Properties.Settings>
            <setting name="WS_SsoftTotalTrip_HotelShop_HotelShopService"
                serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelShopService.asmx</value>
            </setting>
            <setting name="WS_SsoftTotalTrip_HotelConfirm_HotelConfirmService"
                serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelConfirmService.asmx</value>
            </setting>
            <setting name="WS_SsoftTotalTrip_GetHotelInfos_HotelInfoService"
                serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelInfoService.asmx</value>
            </setting>
            <setting name="WS_SsoftTotalTrip_HotelRes_HotelResService" serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelResService.asmx</value>
            </setting>
            <setting name="WS_SsoftTotalTrip_HotelReservationInfo_HotelReservationInfoService"
                serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelReservationInfoService.asmx</value>
            </setting>
            <setting name="WS_SsoftTotalTrip_CancelHotel_HotelCancelService"
                serializeAs="String">
                <value>http://mmh.totaltrip.com/webservice/HotelCancelService.asmx</value>
            </setting>
        </WS_SsoftTotalTrip.Properties.Settings>-->
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
