<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WS_SsoftHotelBeds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WS_SsoftHotelBeds.Properties.Settings>
            <setting name="WS_SsoftHotelBeds_FrontendService_FrontendServiceService" serializeAs="String">
                <value>http://trajanoxp.hotelbeds:9091/appservices/ws/FrontendService</value>
            </setting>
        </WS_SsoftHotelBeds.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
